# Google Cloud Project configuration
GOOGLE_CLOUD_PROJECT="vibe-cabral"

# Model Configuration
GOOGLE_GENAI_USE_VERTEXAI=1
MODEL_LOCATION=global
GOOGLE_CLOUD_LOCATION=global

# Google Cloud Deployment & Observability Config
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_SERVICE_NAME="adk_custom_connector"
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
ADK_CAPTURE_MESSAGE_CONTENT_IN_SPANS=true
