requests
PyJWT

# OpenTelemetry Core & GCP Exporters
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-logging>=1.6.0
opentelemetry-exporter-gcp-monitoring>=1.7.0
opentelemetry-exporter-otlp-proto-grpc>=1.26.0

# OpenTelemetry Instrumentations
opentelemetry-instrumentation
opentelemetry-instrumentation-google-genai>=0.4b0
opentelemetry-instrumentation-vertexai>=2.0b0

# Optional: If you use requests directly
opentelemetry-instrumentation-requests
